In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("./dataset/dropped_dataset.csv")
df.head()

,has_diabetes,BMI,age,total_household_income,smoking,high_bp,high_chol,heart_diseases,asthma,kidney_diseases,marital_status,education,general_health,physical_activity,arthritis,depression,sex,race
0,0.0,3.0,6.0,9.0,4.0,2.0,2.0,2.0,3.0,2.0,2.0,3.0,1.0,1.0,1.0,1.0,2.0,1.0
1,0.0,2.0,6.0,1.0,3.0,2.0,2.0,2.0,1.0,2.0,3.0,2.0,2.0,9.0,1.0,2.0,2.0,2.0
2,0.0,3.0,6.0,9.0,4.0,1.0,1.0,2.0,3.0,2.0,1.0,3.0,1.0,9.0,1.0,1.0,2.0,1.0
3,0.0,4.0,5.0,5.0,4.0,2.0,2.0,2.0,3.0,2.0,3.0,3.0,1.0,9.0,2.0,2.0,2.0,2.0
4,0.0,2.0,6.0,4.0,3.0,1.0,1.0,2.0,3.0,2.0,3.0,2.0,2.0,4.0,1.0,2.0,1.0,1.0

In [7]:
df['has_diabetes'] = df['has_diabetes'].astype('bool')

In [9]:
df['has_diabetes'].value_counts()

has_diabetes
False    282165
True      17417
Name: count, dtype: int64

In [20]:
# Only selecting rows without diabates
df_has_diabetes_class_0 = df[df['has_diabetes'] == 0]

In [21]:
# Only selecting rows with diabates
df_has_diabetes_class_1 = df[df['has_diabetes'] == 1]

In [22]:
df_has_diabetes_class_0.head()

,has_diabetes,BMI,age,total_household_income,smoking,high_bp,high_chol,heart_diseases,asthma,kidney_diseases,marital_status,education,general_health,physical_activity,arthritis,depression,sex,race
0,False,3.0,6.0,9.0,4.0,2.0,2.0,2.0,3.0,2.0,2.0,3.0,1.0,1.0,1.0,1.0,2.0,1.0
1,False,2.0,6.0,1.0,3.0,2.0,2.0,2.0,1.0,2.0,3.0,2.0,2.0,9.0,1.0,2.0,2.0,2.0
2,False,3.0,6.0,9.0,4.0,1.0,1.0,2.0,3.0,2.0,1.0,3.0,1.0,9.0,1.0,1.0,2.0,1.0
3,False,4.0,5.0,5.0,4.0,2.0,2.0,2.0,3.0,2.0,3.0,3.0,1.0,9.0,2.0,2.0,2.0,2.0
4,False,2.0,6.0,4.0,3.0,1.0,1.0,2.0,3.0,2.0,3.0,2.0,2.0,4.0,1.0,2.0,1.0,1.0

In [23]:
# Generate a random permutation of indices
random_indices = np.random.permutation(df_has_diabetes_class_0.index)

# Select the first 17,417 rows based on the shuffled indices
sampled_df = df.iloc[random_indices[:17417]]

In [32]:
df = pd.concat([df_has_diabetes_class_1, sampled_df], axis=0, ignore_index=True)

In [34]:
df['has_diabetes'].value_counts()

has_diabetes
True     17417
False    17417
Name: count, dtype: int64

### Saving to 50/50 sampled data to file

In [35]:
df.to_csv('./dataset/sampled_50_50_dataset.csv', index=False)