In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.set_option('display.float_format', lambda x: f'{x:.0f}')
# formating floating points value to display decimal points and forcing pandas to not show in scientific notation

In [4]:
df = pd.read_csv('./dataset/transformed_dataset.csv')

In [5]:
df.head()

,Unnamed: 0,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
0,0,1,1,3012023,3,1,2023,1100,2023000001,2023000001,...,0,1,0,1,2,2,2,1,1,9
1,1,1,1,1062023,1,6,2023,1100,2023000002,2023000002,...,0,1,0,1,1,1,2,1,1,9
2,2,1,1,3082023,3,8,2023,1100,2023000003,2023000003,...,0,1,0,1,1,1,2,1,1,9
3,3,1,1,3062023,3,6,2023,1100,2023000004,2023000004,...,0,1,0,1,1,1,1,1,1,9
4,4,1,1,1062023,1,6,2023,1100,2023000005,2023000005,...,7,1,47,1,2,1,2,1,1,2

### dropping unnamed column

In [7]:
df.drop(axis=1, labels=['Unnamed: 0'], inplace=True)

In [8]:
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
0,1,1,3012023,3,1,2023,1100,2023000001,2023000001,1,...,0,1,0,1,2,2,2,1,1,9
1,1,1,1062023,1,6,2023,1100,2023000002,2023000002,1,...,0,1,0,1,1,1,2,1,1,9
2,1,1,3082023,3,8,2023,1100,2023000003,2023000003,1,...,0,1,0,1,1,1,2,1,1,9
3,1,1,3062023,3,6,2023,1100,2023000004,2023000004,1,...,0,1,0,1,1,1,1,1,1,9
4,1,1,1062023,1,6,2023,1100,2023000005,2023000005,1,...,7,1,47,1,2,1,2,1,1,2

### merging year, month, and day columns into a single datetime column and replacing `IDATE` with the new value for future EDA

In [9]:
df['IDATE'] = pd.to_datetime({'year':df['IYEAR'], 'month':df['IMONTH'], 'day':df['IDAY']})